body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,select,table,td,
textarea,th,ul,a {
    color: #222;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Do Hyeon', sans-serif;
    width: 978px;
    height: 100%;
    display: block;
    margin: 0 auto;
}
table {
    font-family: 'dotum';
    font-size: 12px;
}
#slidemenu a{
    font-family: 'dotum';
    font-size: 12px;
    font-weight: 600;
}
/* fast_search의 input placeholder 가운데 정렬하기 */
.fast_search input::placeholder{
    font-size: 11px;
    text-align: center;
}
/* ID 입력 및 비밀번호 입력의 placeholder 크기 조절 */
.header_top_right input::placeholder{
    font-size: 11px;
}
/* wrapper */
.mask {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    background-color: #0000008f;
    display: none; 
}
#layer_popup_update{
    width: 400px;
    height: 150px;
    background: #eee;
    position: absolute;
    top: 270px;
    left: 300px;
    z-index:1000;
    display: none;
    border: 2px solid black;
    border-radius: 10px;
}
#layer_popup_update h2{text-align: center;}
#layer_popup_update h2:first-child{margin-top: 20px;}
#layer_popup_update button{
    margin-left: 170px;
    margin-top: 20px;
    width: 60px;
    height: 26px;
    color: #eee;
    background: rgb(95, 95, 95);
    font-family: 'Do Hyeon';
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

/*        =========================== header 영역 ===========================*/
/*        header 영역 margin */
#header {
    margin-top: 10px;
}

/*        좌측으로 float 시킴 */
.logo img {
    float: left;
    margin-top: 5px;
}

/*      .header_top_right의 ul들을 우측으로 정렬  */
.header_top_right ul, .header_top_right div {
    margin: 5px;
    text-align: right;
}
/*      .header_top_right의 li들을 inline-block으로 display 변경  */
.header_top_right li {
    display: inline-block;
}
.header_top_right ul img {
    position: relative;
    top: 4px;
}
.header_top_right{
    height: 66px;;
}
/*        button type들의 크기를 일정하게 조정 */
[type="button"] {
    width: 60px;
    height: 17px;
    font-weight: 700;
    font-size: 10px;
    border: 0px;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
}
/*        간편로그인의 li의 배경색과 border 조정 */
.header_top_right ul:nth-child(2) li:nth-child(3) {
    background: white;
    border: 0px;
}
/*        간편로그인의 input의 배경색과 글자색 변경 */
.header_top_right ul:nth-child(2) li:nth-child(3) input {
    background-color: rgb(18, 178, 18);
    color: white;
}
.header_top_right ul:first-child li:nth-child(3) input{
    padding: 2px;
    width: 100px;
    height: 15px;
    border: 1px solid #222;
}
.header_top_right ul:nth-child(2) li:nth-child(2) input{
    padding: 2px;
    width: 100px;
    height: 15px;
    border: 1px solid #222;
}
/* ID저장 checkbox 위치 조절 */
.header_top_right ul:nth-child(2) li:first-child {
    
}
/* 로그인 후 뜨는 ul 제어 */
.header_top_right ul:nth-child(3){
    display: none;
}
/* XXX님 환영합니다. > 이름 빼고 연하게 */
.header_top_right ul:last-child li:first-child p span{
    font-weight: 600;
}
/*        =========================== nav 영역 ===========================*/
/*        먼저 세로배치를 가로배치로 바꿈 */
/*        ul 사이의 margin을 주자 */
/*        알아보기 쉽게 일단 배경도 좀 주고 */
nav > ul > li {
    display: inline-block;
    margin-right: 40px;
    background: rgba(0, 0, 0, 0.6);
    padding: 4px 12px 4px 12px;
    border-radius: 5px;
    font-weight: 700;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.19);
}

nav > ul > li a {
    color: #eee;
    width: 50px;
    height: 20px;
}

nav > ul:first-child > :first-child a {
    color: #222;
    font-size: 19px;
}

nav > ul:first-child > :first-child {
    background: #f8cedd;
    border: 2px solid rgba(189, 2, 2, 0.863);
}

nav > ul:nth-child(2) > li {
    background: #a9aee6;
}

nav > ul:nth-child(1) {
    /* padding: 5px 1px 4px 10px; */
    float: left; 
    /* background-origin: padding-box; */
/*    background: rgba(0, 0, 0, 0.06);*/
}

nav > ul:nth-child(1) > li:last-child {
    margin-right: 10px;
}

nav > ul:nth-child(2) > li:nth-child(2) {
    margin-right: 10px;
    position: relative;
}

nav > ul:nth-child(2) {
    padding: 5px 0px 4px 10px;
    float: right;
    background-origin: padding-box;
/*    background: rgba(0, 0, 0, 0.06);*/
}

.submenu1 {
    display: inline-block;
    position: absolute;
    margin-top: 3px;
    padding-top: 16px;
    display: none;
}
.submenu1 > li:first-child {
    border-radius: 5px 0px 0px 5px;
}
.submenu1 > li:last-child {
    margin-right: 0px;
    border-radius: 0px 5px 5px 0px;
}
.submenu1 > li {
    display: block;
    float: left;
    padding: 2px 20px;
    background: rgba(4, 1, 56, 0.685);
    margin-top: 3px;
    font-size: 14px;
    font-weight: 600;
}

.background {
    position: absolute;
    width: 978px;
    height: 17px;
    background: rgba(0, 0, 0, 0.06);;
    top: 92px;
    border-radius: 5px;
    z-index: -1;
}
.submenu2{
    display: inline-block;
    position: absolute;
    right: 0px;
    width: 187px;
    margin-top: 3px;
    padding-top: 16px;
    display: none;
}
.submenu2 li{
    display: block;
    float: left;
    padding: 2px 20px;
    background: rgba(4, 1, 56, 0.685);
    font-size: 14px;
    font-weight: 600;
}
.submenu2 > li:first-child {
    border-radius: 5px 0px 0px 5px;
}
.submenu2 > li:last-child {
    margin-right: 0px;
    border-radius: 0px 5px 5px 0px;
}
.fast_search {
    margin-top: 60px;
    margin-bottom: 20px;
}
.fast_search h4 {
    float: left;
    margin: 5px 10px 10px 105px;
    color: #222;
}
.fast_search input:last-child {
    display: block;
    padding: 4px;
    border: 2px solid #222;
}
.btn_search {
    float: left;
    background-image: url('../images/search.jpg');
    background-repeat: no-repeat;
    background-size: 23px;
    width: 22px;
    height: 22px;
    border: 0;
    cursor: pointer;
    outline: 0;
    margin-bottom: 5px;
    margin-top: 2px;
    margin-right: 4px;
}

/*        =========================== slide 영역 ===========================*/
body {
    position: relative;
}
#slidemenu{
    text-align: center;
    background: white;
    position: absolute;
    width: 110px;
    top: 130px;
    right: -110px;
}
#slidemenu div {
    border-radius: 4px 4px 4px 4px;
    padding: 5px;
    border: 1px solid black;
    margin: 1px 0;
}
#slidemenu div:first-child {
    background-color: rgba(110, 51, 191, 0.84);
    font-size: 17px;
}
#slidemenu div:first-child p{
    color: white;
}
/*        =========================== main 영역 ===========================*/
/* 왼쪽의 side menu */
#sidemenu{
    float: left;
    width : 130px;
    height: 170px;
    border-radius: 4px;
    background: rgba(188, 187, 241, 0.664);
}
#sidemenu h2, #sidemenu h4{
    color: #eee;
    text-shadow: 5px 5px 5px black;
    padding-left: 5px;
}
#sidemenu h2{
    padding-top: 3px;
}
#sidemenu a{
    margin-top: 20px;
    display: inline-block;
    width: 100%;
}
/* 정보수정 a태그 */
#sidemenu a:nth-of-type(1){
    font-weight: 600;
    text-align: center;
    margin-top: 30px;
    background: rgb(243, 242, 242);
}
/* 구매한 게임 a태그 */
#sidemenu a:nth-of-type(2){
    text-align: center;
}

/* span css 조정 */
#form > span {
    color: red;
    position: absolute;
    font-size: 12px;
}
.pwinput2{
    left: 455px;
}
#container #form input:not(#email){
    border-color: red;
}

/* 회원정보 수정 본문 container */
#container {
    margin-bottom: 30px;
    margin-left: 148px;
    width: 82%; height: 700px;
    background: #f1f1f1;
    padding-top: 10px;
    border-radius: 10px;
}
.label, #form{
    /* border: 1px solid; */
    display: inline-block;
}
/* 회원정보 수정 */
.regist h1{
    display: inline-block;
}
.regist{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
/* 왼쪽 */
.label {
    margin-top: 3px;
    margin-left: 130px;
    padding-right: 40px;
    border-right: 1px solid;
    text-align: right;
    float: left;
}
.label h3:not(:first-child){
    margin-top: 31px;
}
/* 오른쪽 */
#form{
    width: 400px; 
    margin-left: 24px;
}
#form > input:not([type="radio"]) {
    padding: 6px;
    border: 1px solid #222;
    display: block;
    margin-top: 25px;
}
#form > input:first-child{
    margin: 0px;
}
[type="radio"] {
    float: left;
}
#form p:nth-of-type(3){
    float: left;
}


/* 주소 입력 부분 */
#postcode{float: left; margin-right: 10px; width: 100px;}
#form > #roadAddress {float: left; margin-top: 5px;}
#form > #detailAddress{clear: both; width: 383px;margin-top: 60px;}
#form > #find-addr{
    width: 80px;
    height: 28px;
    float: left;
    margin-right: 10px;
    border: 0px;
    background: rgb(177, 175, 175);
    box-shadow: 2px 2px 9px rgb(117, 117, 117);
}

/* 상세 조정 */
#form > #email{
    margin-bottom: 25px;
    width: 384px;
}
#form > [type="radio"] {
    margin-top: 3px;
    margin-right: 6px;
}
#form > [value="email-no"] {
    margin-left: 100px;
}
#form > p > span {
    font-size: 13px; 
    color: rgb(158, 6, 6);
}
#form > p:nth-of-type(2){
    margin-bottom: 24px;
}
#form > #name {
    width: 100px;
}
#form > #regist_ok {
    width: 100px;
    margin-top: 50px;
    float: left;
    border-radius: 5px;
    font-family: 'Do Hyeon';
    font-size: 18px;
    font-weight: 600;
    border: 0px;
    background: rgb(180, 202, 250);
    box-shadow: 5px 5px 5px;
    cursor: pointer;
}
#form > #regist_cancle{
    width: 100px;
    height: 37px;
    margin-top: 50px;
    font-family: 'Do Hyeon';
    font-size: 18px;
    font-weight: 400;
    display: inline-block;
    margin-left: 30px;
    border: 0px;
    box-shadow: 5px 5px 5px;
    background: rgb(206, 205, 205);
}
#form input {
    border-radius: 5px;
}

.delete_member{
    width: 100px;
    height: 37px;
    margin-top: 50px;
    font-family: 'Do Hyeon';
    font-size: 18px;
    font-weight: 400;
    display: inline-block;
    margin-left: 700px;
    border: 0px;
    box-shadow: 5px 5px 5px;
    background: rgb(252, 164, 164);
    
}

#update_ok{
    width: 100px;
    height: 30px;
    margin-top: 50px;
    margin-left: 0px;
    float: left;
    border-radius: 5px;
    font-family: 'Do Hyeon';
    font-size: 18px;
    font-weight: 600;
    border: 0px;
    background: rgb(180, 202, 250);
    box-shadow: 5px 5px 5px;
    cursor: pointer;
}
#form > #update_cancle{
    width: 100px;
    height: 30px;
    font-family: 'Do Hyeon';
    font-size: 18px;
    font-weight: 300;
    border: 0px;
    padding:0px;
    float: left;
    margin-left: 100px;
    margin-top: 50px;
    box-shadow: 5px 5px 5px;
}

#form input::placeholder{
    font-size: 11px;
}
/*        =========================== footer 영역 ===========================*/
#footer{
    margin-top: 100px;
}
#footer > ul {
    border-top: 1px solid #646464;
    margin-bottom: 20px;
}

#footer ul li {
    display: inline-block;
    margin-top: 5px;
}

#footer ul li a {
    padding-right: 6px;
    border-right: 1px solid black;
    text-shadow: 2px 2px 6px gray;
}

#footer ul li:last-child a {
    border: 0px;
}

#footer div img {
    float: left;
    margin-left: 10px;
    margin-right: 40px;
}

#footer > img {
    margin-top: 10px;
    margin-left: 20px;
}

#footer p {
    font-size: 14px;
    float: left;
    display: block;
    color: #222;
}

#footer p:nth-of-type(4) {
    width: 100%;
    clear: both;
    display: inline-block;
    border-top: 1px solid;
    text-align: center;
    padding-top: 10px;
    margin-top: 20px;
}

#footer p:nth-of-type(1) {
    margin-top: 15px;
}
